@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Noto+Sans+JP:wght@100..900&family=Zen+Maru+Gothic&display=swap');

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}